


img {
  /* text-align: center; */
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@font-face {
  font-family: "LXGWWenKai";
  src: url(LXGWWenKai-Regular.ttf);
}

:root{
  --md-text-font: "LXGWWenKai"
}